<% content_for :meta_title, "#{@user.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>
<% content_for :meta_image, image_path(@user.photo) %>

<div class="main">
  <div class="profil-content-show">

    <div class="main-content-show">
      <h3>Highlights</h3>
      <hr>
      <div class="highlights-content">
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "xp.svg"%>
          </div>
          <div class="card-highlights-infos">
            <h3><%= @user.total_experience%></h3>
            <p>years experience</p>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "mbti.svg", class: "highlights-icon"%>
          </div>
          <div class="card-highlights-infos">
            <h2><%= @user.mbti %></h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "language.svg", class: "highlights-icon"%>
          </div>
          <div class="card-highlights-infos">
            <% @user.language_list.each do |language| %>
              <ul>
                <li><%= language %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "expertise.svg", class: "highlights-icon"%>
          </div>
          <div class="card-highlights-infos">
            <h2><%= @user.expertise_list %></h2>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "skill_bleu.svg", class: "highlights-icon"%>
          </div>
          <div class="card-highlights-infos">
            <% @user.soft_skill_list.each do |skill| %>
              <ul>
                <li><%= skill %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "language.svg", class: "highlights-icon"%>
          </div>
          <div class="card-highlights-infos">
            <% @user.personality_list.each do |personality| %>
              <ul>
                <li><%= personality %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "language.svg", class: "highlights-icon"%>
          </div>
          <div class="card-highlights-infos">
            <% @user.hobby_list.each do |hobby| %>
              <ul>
                <li><%= hobby %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @user.has_a_project %>
      <div class="main-content-project">
      <%= render "shared/user-project" %>
      </div>
    <% end %>

    <div class="main-content-project">
      <%= render "shared/user-jobs" %>
    </div>

    <div class="main-content-project">
      <%= render "shared/user-schools" %>
    </div>
  </div>
</div>
