<% content_for :meta_title, "#{@user.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>
<% content_for :meta_image, image_path(@user.photo) %>

<div class="main">
  <div class="profil-content-show">

    <div class="main-content-show">
      <h3 class="mb-4">Highlights</h3>
      <div class="highlights-content">
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "xp_orange.svg"%>
          </div>
          <div class="card-highlights-infos">
            <h3><%= @user.total_experience%></h3>
            <p>years of work experience</p>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "mbti_orange.svg"%>
          </div>
          <div class="card-highlights-infos">
            <h2>MBTI</h2>
            <ul>
              <li><%= @user.mbti %></li>
            </ul>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "language_orange.svg"%>
          </div>
          <div class="card-highlights-infos">
            <h2>Language</h2>
            <% @user.language_list.each do |language| %>
              <ul>
                <li><%= language %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "expertise_orange.svg"%>
          </div>
          <div class="card-highlights-infos">
            <h2>Expertise</h2>
              <ul>
                <li><%= @user.expertise_list %></li>
              </ul>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "skill_orange.svg"%>
          </div>
          <div class="card-highlights-infos">
            <h2>Soft skills</h2>
            <% @user.soft_skill_list.each do |skill| %>
              <ul>
                <li><%= skill %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="card-highlights">
          <div class="card-highlights-icon">
            <%= image_tag "personality_orange.svg"%>
          </div>
          <div class="card-highlights-infos">
            <h2>Personality</h2>
            <% @user.personality_list.each do |personality| %>
              <ul>
                <li><%= personality %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @user.has_a_project %>
      <div class="main-content-project">
      <%= render "shared/user-project" %>
      </div>
    <% end %>

    <div class="main-content-project">
      <%= render "shared/user-jobs" %>
    </div>

      <div class="main-content-project">
        <%= render "shared/user-schools" %>
      </div>
  </div>
</div>
