<div class="container">
  <div class="user-description">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <%= cl_image_tag @user.photo, crop: :fill, class: :profile_picture %>
    <p><%= @user.description %></p>
    <%= @user.mbti %>
  </div>
</div>
