<% users.each do |user| %>

  <div class="card-user">
  <% if current_user.selection_for(user).pending?%>
    <div class="card-ribbon-pending overflow-hidden">Pending</div>
  <% elsif current_user.selection_for(user).accepted?%>
    <div class="card-ribbon-accepted overflow-hidden">Accepted</div>
  <%end%>
    <div class="text-center">
      <% if user.photo? %>
        <%= image_tag user.photo, class: "avatar-large"%>
      <% else %>
        <%= image_tag "avatar.svg", class: "avatar"%>
      <% end %>

      <h5 class="my-2"><%= user.first_name %> <%= user.last_name %></h5>
      <%= image_tag "location_orange.svg", class: "tag-icon"%> <%= user.city %>
    </div>
    <div class="my-3">
      <ul class="list-unstyled list-inline me-0">
        <li class="btn-tag list-inline-item"><%= image_tag "xp.svg", class: "tag-icon"%> <%= user.total_experience%> years experience</li>
        <li class="btn-tag list-inline-item"><%= image_tag "mbti.svg", class: "tag-icon"%> <%= user.mbti %></li>
        <li class="btn-tag list-inline-item"><%= image_tag "skill.svg", class: "tag-icon"%> <%= user.expertise_list %></li>
        <li class="btn-tag list-inline-item"><%= image_tag "language.svg", class: "tag-icon"%> <%= user.language_list %></li>
        <% if user.has_a_project%>
          <li class="btn-tag list-inline-item"><%= image_tag "project_outline_bleu.svg", class: "tag-icon"%> I've a project</li>
        <% end %>
        <%= link_to "See more", user_path(user), class: "btn-yellow" %>

      </ul>
    </div>
    <div class="text-center">
      <ul class="list-unstyled list-inline">
        <%= link_to reject_dashboards_path(user_id: user.id), data: { turbo_method: :post } do %>
          <li class="btn-circle-cross list-inline-item mx-2"></li>
        <% end %>
        <% if !current_user.selection_for(user).nil? && current_user.selection_for(user).status == "Accepted" %>
          <%= link_to favprofils_dashboards_path do %>
            <li class="btn-circle-orange-message list-inline-item mx-2"></li>
          <% end %>
          <%= link_to like_dashboards_path(user_id: user.id), data: { turbo_method: :post } do %>
            <li class="btn-circle-message list-inline-item mx-2"></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
