
<% users.first(3).each do |user| %>
<div class="card-user">
    <%# <% if user.photo.attached? %>
      <%# <%= cl_image_tag user.photo.key, crop: :fill, class: "avatar-large"%>
    <%# <% else %>
      <%= image_tag "avatar.svg", class: "avatar"%>
    <%# <% end %>
      <h5><%= user.first_name %> <%= user.last_name %></h5>
      <%= image_tag "location.svg", class: "tag-icon"%> <%= user.city %>
      <ul>
        <li class="btn-tag"><%= image_tag "xp.svg", class: "tag-icon"%> <%= user.total_experience%> years experience</li>
        <li class="btn-tag"><%= image_tag "skill.svg", class: "tag-icon"%> <%= user.mbti %></li>
        <li class="btn-tag"><%= image_tag "skill.svg", class: "tag-icon"%> <%= user.expertise_list %></li>
        <li class="btn-tag"><%= image_tag "skill.svg", class: "tag-icon"%> <%= user.language_list %></li>
        <% if user.has_a_project%>
        <li class="btn-tag"><%= image_tag "project.svg", class: "tag-icon"%> I've a project</li>
        <% end %>
      </ul>
      <div class="d-flex">
        <ul class="list-inline mx-auto justify-content-center">
          <%= link_to matches_dashboards_path do %>
            <li class="btn-circle-cross"></li>
          <% end %>

          <%= link_to favprofils_dashboards_path do %>
            <li class="btn-circle-heart"></li>
          <% end %>
        </ul>
      </div>
  <%= link_to "See more", user_path(user), class: "btn-cta" %>
</div>
<% end %>
