 <h3 class="ms-3">Chat </h3>
 <div class="chatroom-content <%="blocked-content" unless @current_user.selection_for(@user).accepted?%>"
    data-controller="selection-subscription"
    data-selection-subscription-selection-id-value="<%= selection.id %>"
    data-selection-subscription-current-user-id-value="<%= current_user.id %>"
  >
  <div class="messages" data-selection-subscription-target="messages">
    <% selection.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
    <span data-selection-subscription-target="typing"></span>
  </div>

    <%= simple_form_for [selection, message], html: { data: { action: "turbo:submit-end->selection-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Send a message",
        wrapper_html: {class: "flex-grow-1"}, input_html: { data: { action: "keyup->selection-subscription#isTyping" } }
      %>
      <%= button_tag type: "submit", class: "btn_cta_message" do %>
        <i class="fa-regular fa-paper-plane" ></i>
      <% end %>
    <% end %>
</div>
<% unless current_user.can_see_profil_infos?(@user) %>
<div id="chatroom-locked-screen" class="list-unstyled text-center">
  <li class="lock-icon"></li>
</div>
<% end %>
