<div class="profil_user">
  <div class="name-title">
    <h4 class="my-2"><%= @user.first_name %> <%= @user.last_name %></h4>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="bloc">
    <div class="photo">
      <% if @user.photo? %>
        <%= image_tag @user.photo, class: "avatar-large"%>
      <% else %>
        <%= image_tag "avatar.svg", class: "avatar-large"%>
      <% end %>
    </div>

    <div class=list>
      <ul class="list-unstyled list-inline">
        <li class="btn-tag list-inline-item"><%= image_tag "xp.svg", class: "tag-icon"%> <%= current_user.total_experience%> years experience</li>
        <li class="btn-tag list-inline-item"><%= image_tag "location_orange.svg", class: "tag-icon"%> <%= current_user.city %></li>
        <% if @user.has_a_project%>
        <li class="btn-tag list-inline-item"><%= image_tag "project_outline_bleu.svg", class: "tag-icon"%> Having a project</li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id='connect-user'>
    <%= link_to params[:has_project].present? ? like_dashboards_path(user_id: @user.id, has_project: params[:has_project]) : like_dashboards_path(user_id: @user.id), class: "nav-link", data: {action: "click->sweetalert#accept" } do %>
    <i class="fa-solid fa-heart">I want to connect</i>
    <%end%>
  </div>
</div>
