<h3 class=" mb-4">Project</h3>
<li class="<%= "blocked-content" unless current_user.can_see_profil_infos?(@user) %> list-unstyled">

  <% @user.projects.each do |project| %>
    <div class="box">
      <p class="project-label">Name</p>
      <p class="project-text"><%= @user.projects.first.name %></p>
      <p class="project-label">Pitch</p>
      <p class="project-text"><%= @user.projects.first.pitch %></p>
      <p class="project-label">City</p>
      <p class="project-text"><%= @user.projects.first.city %></p>
      <p class="project-label">Industry</p>
      <p class="project-text"><%= @user.projects.first.industry %></p>
    </div>

    <div class="d-none" <% unless @user === @current_user %>>
      <h5 class="my-3">Pitchdeck</h5>
      <div class="input-group mb-3" data-controller="sweetalert">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text btn-yellow" for="inputGroupFile02">Upload</label>
        <%= link_to user_path(user_id: @user), data: { turbo_method: :post, action: "click->sweetalert#upload" } do %>
        <% end %>
      </div>
     <% end %>

    <template id="my-template">
      <h1>modal</h1>
    </template>

  <% end %>
</li>

<% unless current_user.can_see_profil_infos?(@user) %>
<ul id="locked-screen", class="list-unstyled text-center">
  <li class="lock-icon"></li>
</ul>
<% end %>
