<h3>Academy</h3>
<hr>
<% @user.trainings.each do |training| %>
  <div class="timeline">
    <div class="entry">
      <div class="title">
        <h5>2014 - Present</h5>
        <%# <h5> <%= user.school.start_date- <%= user.school.end_date</h5>  %>
        <p><%= training.title %></p>
      </div>
      <div class="body">
        <ul>
          <li><%= training.title %></li>
          <li><%= training.graduation_year %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
