<div class="profil_user">
  <%= image_tag "avatar.svg", class: "avatar-large"%>
  <h3>John Doe</h3>
  <%= image_tag "location.svg", class: "tag-icon"%> Paris
  <ul>
    <li class="btn-tag"><%= image_tag "xp.svg", class: "tag-icon"%> XX years experience</li>
    <li class="btn-tag"><%= image_tag "skill.svg", class: "tag-icon"%> Technologie</li>
    <li class="btn-tag"><%= image_tag "project.svg", class: "tag-icon"%> I've got a project</li>
  </ul>
  <%= link_to "Update your profil", "#", class: "btn-cta" %>
</div>
