<div class="profil_user">
    <% if current_user.photo? %>
      <%= image_tag current_user.photo, class: "avatar-large"%>
    <% else %>
      <%= image_tag "avatar.svg", class: "avatar-large"%>
    <% end %>
    <h3 class="my-2"><%= current_user.first_name %> <%= current_user.last_name %></h3>
    <%= image_tag "location_orange.svg", class: "tag-icon"%> <%= current_user.city %>
    <hr>
    <ul class="list-unstyled list-inline">
      <li class="btn-tag list-inline-item"><%= image_tag "xp.svg", class: "tag-icon"%> <%= current_user.total_experience%> years experience</li>
      <li class="btn-tag list-inline-item"><%= image_tag "mbti.svg", class: "tag-icon"%> <%= current_user.mbti %></li>
      <li class="btn-tag list-inline-item"><%= image_tag "skill.svg", class: "tag-icon"%> <%= current_user.expertise_list %></li>
      <li class="btn-tag list-inline-item"><%= image_tag "language.svg", class: "tag-icon"%> <%= current_user.language_list %></li>

      <% if current_user.has_a_project%>
      <li class="btn-tag list-inline-item"><%= image_tag "project_outline_bleu.svg", class: "tag-icon"%> I've a project</li>
      <% end %>
    </ul>
    <div class="my-3">
      <%= link_to "Update your profil", "#", class: "btn-yellow" %>
    </div>
    <div class="text-center mt-5">
      <%= link_to "Log out", new_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
    </div>

    <hr>

    <div>
      <%= image_tag "Logo_coFound_2.svg", class: "logo"%>
    </div>

</div>
