<h3>Experience</h3>
<hr>
<% @user.jobs.each do |job| %>
  <div class="timeline">
    <div class="entry">
      <div class="title">
        <h5>2014 - Present</h5>
        <%# <h5> <%= user.jobs.start_date- <%= user.jobs.end_date</h5>  %>
        <p><%= job.title %> <%= job.city %></p>
      </div>
      <div class="body">
        <p><%= job.description %></p>
        <ul>
        <% if job.year_experience > 0 %>
          <li><%= job.year_experience %> years of work experience </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
