<div class="profil_user">
  <div class="name-title">
    <h4 class="my-2"><%= @user.first_name %> <%= @user.last_name %></h4>
    <%= link_to " ", @user.linkedin, class:"fab fa-linkedin"%>
  </div>

  <div class="bloc mb-3">
    <div class="photo">
      <% if @user.photo? %>
        <%= image_tag @user.photo, class: "avatar-large"%>
      <% else %>
        <%= image_tag "avatar.svg", class: "avatar-large"%>
      <% end %>
    </div>

    <div class=list-tags-user-show>
      <ul class="list-unstyled list-inline">
        <li class="btn-tag list-inline-item"><%= image_tag "location_orange.svg", class: "tag-icon"%> <%= @user.city %></li>
        <li class="btn-tag list-inline-item"><%= image_tag "xp_orange.svg", class: "tag-icon"%> <%= @user.total_experience%> years experience</li>
        <% if @user.has_a_project%>
        <li class="btn-tag list-inline-item"><%= image_tag "project_outline_orange.svg", class: "tag-icon"%> Having a project</li>
        <% end %>
      </ul>
    </div>
  </div>

  <% unless current_user.selection_for(@user).accepted?%>
    <div id='connect-user' data-controller="sweetalert" data-sweetalert-background-url-value="<%= asset_path('Gif_itsamatch.gif') %>" data-sweetalert-backdrop-url-value="<%= asset_path('heart.svg') %> ">
      <%= link_to params[:has_project].present? ? like_dashboards_path(user_id: @user.id, has_project: params[:has_project]) : like_dashboards_path(user_id: @user.id), class: "nav-link", data: {action: "#{current_user.received_request_from?(@user) ? 'click->sweetalert#itsamatch' : 'click->sweetalert#accept'}" } do %>
        <p class="mb-0"><i class="fa-solid fa-heart"></i> I want to connect</p>
      <%end%>
     </div>
  <%end%>
</div>
