<!DOCTYPE html>
<html>
  <head>
    <title>Cofound</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless action_name == "dashboard" %>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
    <% end %>
    <div class="main-container">
      <%= render "shared/user-sidebar" if action_name == "dashboard" %>
      <%= yield %>
      <%= render "shared/sidebar" %>
    </div>
    <% unless action_name == "dashboard" %>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
