<!DOCTYPE html>
<html>
  <head>
    <title>cofound</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag "matches_outline_orange.svg", rel: "icon", type: "image/svg" %>
  </head>

  <body class="<%= "#{controller_name}-#{action_name}" %>">

      <% if controller_name == 'dashboards'%>
        <div class="main-container">
          <%= render "shared/flashes" %>
          <%= render "shared/user-sidebar" %>
          <%= yield %>
          <%= render "shared/sidebar" %>
        </div>

      <% elsif controller_name == 'users' %>
        <div class="main-container">
          <%= render "shared/flashes" %>
          <%= render "shared/user-sidebar-show" %>
          <%= yield %>
          <%= render "shared/sidebar" %>

        </div>

      <% else %>
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <%= yield %>
        <%= render "shared/footer" %>
      <% end %>

  </body>
</html>
